.kitchen-base{
    background-color: #505050;
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e6;
    position: relative;
}

.kitchen-A{
    height: 100%;
    padding-top: 40px;
    padding-left: 35px;
    padding-bottom: 40px;
}

.mr-img{
    padding-right: 35px;
}

.kitchen-img{
    height: 100%;
    width: auto;
    float: left;
    border-radius: 3px;
}

.kitchen-B{
    width: 37%;
    height: 100%;

    padding-top: 25px;
    padding-right: 38px;
    padding-bottom: 25px;
}

.kitchen-title{
    color: #6c96db;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 0.9;
    font-size: 110px;
    padding-top: 5px;
}

.btn-kitchen{
    padding: 5px 30px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none!important;
    color: #4a7197;
    transition: all 0.4s;
}

.btn-kitchen:hover{
    background-color: #e4e4e4;
    transition: all 0.4s;
}

.kitchen-content{
    padding-top:30px;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #ffffff; 
}



/*Breakpoints*/
/*Offset 170px*/
@media(max-width: 1968px){
    .kitchen-content{
        max-width: 33%;
        position: absolute;
        right: 20px;
        margin-top: 5px;
    }

    .btn-kitchen{
        margin-top: 150px;
    }
}

@media(max-width: 1889px){
    .kitchen-content{
        color: #6c96db;
    }
}