.maindiv {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #eceeee;
}
.images {
  display: grid;
  grid-template-columns: 400px 400px;
  column-gap: 25px;
  align-items: end;
  padding-left: 35px;
}
.bigboldtext {
  font-size: 90px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #3e7e78;
  position: absolute;
  right: 10px;
  top: 133px;
}
.subtext1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #89b3b0;
  line-height: 1.2;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 35px;
}
.subtext2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: right;
  color: #727474;
  padding-left: 40px;
  padding-top: 35px;
  padding-right: 35px;
}
.texts {
  padding-top: 130px;
}
.gsimg2 {
  min-height: 100%;
  border-radius: 3px;
}
.gsimg1 {
  min-height: 100%;
  border-radius: 3px;
}
.image2 {
  height: 70%;
}
