.maindiv {
  display: flex;
  margin-top: 150px;
}
.images {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 25px;
  align-items: flex-end;
}
.bigboldtext {
  font-size: 95px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #3e7e78;
}
.subtext1 {
  font-size: 52px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: right;
  color: #89b3b0;
  line-height: 1.2;
  position: relative;
}
.subtext2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: right;
  color: #727474;
}
.gsimg2 {
  min-height: 100%;
  border-radius: 3px;
}
.gsimg1 {
  min-height: 100%;
  border-radius: 3px;
}
