.customInteriors-container {
  padding-top: 77px;
  width: 100%;
}

@media(max-width:1490px) {
  .customInteriors-container {
    padding-top: 127px;
  }
}

@media(max-width:870px) {
  .customInteriors-container {
    padding-top: 60px;
  }
}

@media(max-width: 740px) {
  .customInteriors-container {
    padding-top: 124px;
  }
}

@media(max-width: 590px) {
  .customInteriors-container {
    padding-top: 165px;
  }
}