.indexgs {
  padding-top: 100px;
  width: 100%;
}

@media(max-width:1490px) {
  .indexgs {
    padding-top: 130px;
  }
}

@media(max-width:870px) {
  .indexgs {
    padding-top: 90px;
  }
}

@media(max-width: 740px) {
  .indexgs {
    padding-top: 135px;
  }
}

@media(max-width: 590px) {
  .indexgs {
    padding-top: 180px;
  }
}